/* My CSS */
/* -------------Init------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
body {
	margin: 0;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	width: 100%;
	height: 100%;
}

.slick-dots li button:before {
	font-size: 16px !important;
	color: gray !important;
}
.slick-dots li.slick-active button:before {
	color: #fff !important;
}
.homepage .slick-list {
	padding: 1.5rem 0 0.5rem 0;
}
.homepage .slick-dots {
	margin-bottom: 25px;
}
.slick-slide img {
	margin: 0 auto;
}
/* .homepage .slick-next {
	right: -10px !important;
	z-index: 1;
}
.homepage .slick-prev {
	left: -10px !important;
	z-index: 1;
} */
.homepage .slick-prev {
	left: 1% !important;
	z-index: 1;
	/* background: #000; */
}
.homepage .slick-next {
	right: 1% !important;
	z-index: 1;
	color: #000;
}

.slick-prev:before,
.slick-next:before {
	font-size: 36px !important;
	color: #777 !important;
}
.font-small {
	text-align: center;
}
